@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  width: 1px;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background: #ff4434;
  border-radius: 8px;

  border: 2px solid transparent;
  background-clip: content-box;
}

.page-container {
  @apply max-w-[1200px] mx-auto px-4;
}
.header-link {
  @apply text-sm transition md:text-base hover:text-black/60;
}
.num {
  font-variant-numeric: tabular-nums;
}

.hero-swiper .swiper-pagination {
  left: 50% !important;
  transform: translateX(-50%);
  bottom: 12px !important;
}
.hero-swiper .swiper-pagination-bullet {
  opacity: 1 !important;
  background: #d1d5db !important;
  border: 1px solid white;
  width: 8px;
  padding: 4px;
  height: 8px;
}
.hero-swiper .swiper-pagination-bullet-active {
  background: #d40f0f !important;
  width: 7px;
  border-radius: 9999px;
}

.products-swiper .swiper-slide {
  height: auto !important;
}
.products-swiper .swiper-wrapper {
  align-items: stretch;
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideOutDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-in-up {
  animation: slideInUp 0.3s ease-out forwards;
}

.animate-out-down {
  animation: slideOutDown 0.3s ease-in forwards;
}

.animate-in-down {
  animation: slideInDown 0.3s ease-out forwards;
}

.animate-out-up {
  animation: slideOutUp 0.3s ease-in forwards;
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.animate-fade-out {
  animation: fadeOut 0.3s ease-in forwards;
}
